@import "tailwindcss";
@plugin "daisyui";


@layer base {
  :root {
    --color-primary: theme(colors.rose.800);
    --color-secondary: theme(colors.slate.700);
    --color-tertiary: theme(colors.stone.600);
    --color-error: theme(colors.red.600);
    --color-background: theme(colors.white);
    --color-background-soft: theme(colors.slate.50);

    /* Game colors */
    --color-win: theme(colors.green.500);
    --color-defeat: theme(colors.red.500);

    /* Biome colors */
    --color-forest: theme(colors.green.800);
    --color-swamp: theme(colors.green.400);
    --color-city: theme(colors.gray.500);
    --color-desert: theme(colors.yellow.500);
    --color-unknown: theme(colors.zinc.400);
    
    /* character status color*/
    --color-medium-hp: theme(colors.amber.600);
    --color-low-hp: theme(colors.red.500);

    /* Item rarity */
    --color-common-item: theme(colors.stone.400);
    --color-rare-item: theme(colors.green.500);
    --color-epic-item: theme(colors.red.600);

    /* Enemy rarity */
    --color-easy-enemy: theme(colors.stone.400);
    --color-normal-enemy: theme(colors.green.500);
    --color-hard-enemy: theme(colors.red.600);
    --color-boss-enemy: theme(colors.purple.800);

    --font-display: "VT323", monospace;
  }

  html {
    font-family: var(--font-display);
  }
}


@layer components {

  /* ========= PRIMARY ========= */
  .bg-custom-primary {
    background-color: var(--color-primary);
  }

  .text-custom-primary {
    color: var(--color-primary);
  }

  .text-custom-primary-title {
    color: var(--color-primary);
    @apply text-center text-4xl font-bold p-6;
  }

  .btn-custom-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-background) !important;
    border-color: var(--color-primary) !important;
    box-shadow: none !important;
  }

  .btn-custom-primary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    opacity: 0.9;
  }

  /* ========= SECONDARY ========= */
  .bg-custom-secondary {
    background-color: var(--color-secondary);
  }

  .text-custom-secondary {
    color: var(--color-secondary);
  }

  /* ========= TERTIARY ========= */
  .bg-custom-tertiary {
    background-color: var(--color-tertiary);
  }

  .text-custom-tertiary {
    color: var(--color-tertiary);
  }

  /* ========= ERROR ========= */
  .bg-custom-error {
    background-color: var(--color-error);
  }

  .text-custom-error {
    color: var(--color-error);
  }

  /* ========= BACKGROUND ========= */
  .bg-custom-background {
    background-color: var(--color-background);
  }

  .bg-custom-background-soft {
    background-color: var(--color-background-soft);
  }

  .text-custom-background {
    color: var(--color-background);
  }


}